<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Dodaj oglas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="listingForm" (ngSubmit)="addListing()">
    <ion-list class="form-list">
      <ion-item class="form-item">
        <ion-label position="stacked">Naslov</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-text *ngIf="listingForm.get('title')?.invalid && listingForm.get('title')?.touched" color="danger"
        class="validation-text">
        Unesite naslov oglasa.
      </ion-text>

      <ion-item class="form-item">
        <ion-label position="stacked">Opis</ion-label>
        <ion-textarea formControlName="description" rows="4"></ion-textarea>
      </ion-item>
      <ion-text *ngIf="listingForm.get('description')?.invalid && listingForm.get('description')?.touched"
        color="danger" class="validation-text">
        Unesite opis oglasa.
      </ion-text>

      <ion-item class="form-item">
        <ion-label position="stacked">Cena po danu</ion-label>
        <ion-input formControlName="price_per_day" type="number"></ion-input>
      </ion-item>
      <ion-text *ngIf="listingForm.get('price_per_day')?.invalid && listingForm.get('price_per_day')?.touched"
        color="danger" class="validation-text">
        Unesite cenu po danu.
      </ion-text>

      <ion-item class="form-item">
        <ion-label position="stacked">Lokacija</ion-label>
        <ion-input formControlName="location" type="text"></ion-input>
      </ion-item>
      <ion-text *ngIf="listingForm.get('location')?.invalid && listingForm.get('location')?.touched" color="danger"
        class="validation-text">
        Unesite lokaciju smeštaja.
      </ion-text>

      <ion-item class="form-item">
        <ion-label position="stacked">Kapacitet osoba</ion-label>
        <ion-input formControlName="capacity_persons" type="number"></ion-input>
      </ion-item>
      <ion-text *ngIf="listingForm.get('capacity_persons')?.invalid && listingForm.get('capacity_persons')?.touched"
        color="danger" class="validation-text">
        Unesite kapacitet osoba po smeštaju.
      </ion-text>

      <ion-item class="form-item">
        <ion-label position="stacked">Slika URL</ion-label>
        <ion-input formControlName="image_url" type="text"></ion-input>
      </ion-item>
      <ion-text *ngIf="listingForm.get('image_url')?.invalid && listingForm.get('image_url')?.touched" color="danger"
        class="validation-text">
        Unesite URL slike.
      </ion-text>
    </ion-list>

    <ion-button type="submit" expand="block" class="submit-button" [disabled]="listingForm.invalid">
      Kreirajte oglas
    </ion-button>
  </form>
</ion-content>