<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="authService.isUserAuthenticated | async">
      <ion-button (click)="openListingsModal()">
        <i class="fas fa-plus-circle" style="color: white; font-size: 24px;"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionInput)="filterListings($event)" placeholder="Pretražite oglase"
    class="custom-searchbar"></ion-searchbar>

  <ion-list>
    <app-listing-element *ngFor="let listing of filteredListings" [listing]="listing"></app-listing-element>
  </ion-list>
</ion-content>