<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homepage">
      <ion-icon name="home" style="color: grey;"></ion-icon>
      <ion-label style="color: grey;">Početna</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listings/explore">
      <ion-icon name="compass" style="color: grey;"></ion-icon>
      <ion-label style="color: grey;">Oglasi</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isAuthenticated$ | async;" tab="bookings/details">
      <ion-icon name="calendar" style="color: grey;"></ion-icon>
      <ion-label style="color: grey;">Rezervacije</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>