.homepage-image-large {
    width: 100%;
}

.homepage-card-container {
    margin-top: 50px;
}

.homepage-card {
    padding: 20px;
    background-color: #d1d4ff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.homepage-heading {
    font-size: 3rem;
    color: #333;
    text-align: center;
}

.stay-finder {
    color: #fd6f6f;
    font-weight: bold;
}

.homepage-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #1b1b1b;
    line-height: 1.5;
}

.sofia-regular {
    font-family: 'Sofia', cursive;
    font-weight: 400;
    font-style: normal;
}