<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-section">
    <img src="assets/pocetna.png" alt="Homepage Image" class="homepage-image-large">
    <h2 class="homepage-heading sofia-regular">Smestite se gde god krenete uz <span class="stay-finder">Stay
        Finder</span></h2>
  </div>
  <div class="homepage-card-container">
    <ion-card class="homepage-card">
      <ion-card-content>
        <p class="homepage-description">Pronađite savršen smeštaj za svoje putovanje uz Stay Finder aplikaciju. Bez
          obzira da li putujete zbog posla, odmora ili avanture, mi smo tu da vam pomognemo pronaći idealan smeštaj
          prema vašim preferencijama i budžetu.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>