.homepage-image-large {
    width: 100%;
}

.homepage-card-container {
    margin-top: 50px;
}

.homepage-card {
    padding: 20px;
    background: linear-gradient(145deg, #d1d4ff, #bec1ff);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3),
        inset 0 4px 8px rgba(255, 255, 255, 0.3),
        inset 0 -4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #bcc2ff;
    transition: transform 0.2s;
}

.homepage-card:hover {
    transform: scale(1.02);
}

.homepage-heading {
    font-size: 3rem;
    color: #333;
    text-align: center;
}

.stay-finder {
    color: #fd6f6f;
    font-weight: bold;
}

.homepage-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #1b1b1b;
    line-height: 1.5;
}

.sofia-regular {
    font-family: 'Sofia', cursive;
    font-weight: 400;
    font-style: normal;
}