<ion-card>
  <ion-card-header>
    <div class="title">{{ listingTitle }}</div>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Datum početka:</ion-label>
        <ion-note>{{ booking.start_date | date }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Datum završetka:</ion-label>
        <ion-note>{{ booking.end_date | date }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Status:</ion-label>
        <ion-note>{{ booking.status }}</ion-note>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button color="danger" (click)="cancelBooking(booking.id)" *ngIf="booking.status !== 'cancelled'">
        Otkaži rezervaciju
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>