<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Rezervacije</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let booking of bookings" class="ion-margin-bottom">
      <ion-card-header>
        <ion-card-title style="font-size: 22px;">Korisnik: {{ userFullNames[booking.id] }}</ion-card-title>

      </ion-card-header>

      <ion-card-content>
        <p><strong>Datum početka:</strong> {{ booking.start_date | date: 'dd.MM.yyyy' }}</p>
        <p><strong>Datum završetka:</strong> {{ booking.end_date | date: 'dd.MM.yyyy' }}</p>
        <p><strong>Status:</strong>
          <ion-badge *ngIf="booking.status === 'pending'" color="warning">Pending</ion-badge>
          <ion-badge *ngIf="booking.status === 'confirmed'" color="success">Confirmed</ion-badge>
          <ion-badge *ngIf="booking.status === 'cancelled'" color="danger">Cancelled</ion-badge>
        </p>
        <ion-item lines="none">
          <ion-label>Promeni status:</ion-label>
          <ion-select placeholder="Odaberi" (ionChange)="onChangeStatus(booking.id, $event.detail.value)">
            <ion-select-option value="pending">Pending</ion-select-option>
            <ion-select-option value="confirmed">Confirmed</ion-select-option>
            <ion-select-option value="cancelled">Cancelled</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>