ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
}

ion-list {
    margin-bottom: 20px;
}

.save-button {
    margin: 20px;
    --border-radius: 10px;
}